@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@font-face {
    font-family: 'Font';
    src: url('font.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
}

body {
 font-family: 'Font';
	color: #fff;
	background-color: #111;
    font-size: 16px;
    overflow: hidden;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

.hide {
    display: none !important;
}

.header-block {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 50%;
    background-color: #111;
}

.header-block .title-section {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #111;
}

.header-block .title-section .title {
    display: block;
    /*padding-left: 16px;*/
    line-height: 1.2;
    font-size: 10rem;
    letter-spacing: 16px;
    /* cursor: pointer; */
    user-select: none;
    /* transition: .2s cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .header-block .title-section .title:hover {
    text-shadow: 5px 0px 0px #EA526F, -5px 0px 0px #25CED1;
} */


.header-block .title-section.active {
    transform: translateY(-100%);
}


.header-block .description {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 200px;
    background-color: #fff;
    text-align: center;
}

.header-block .description .content {
    max-width: 660px;
    height: 100%;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2;
    font-family: 'PT Sans Narrow';
    color: #111;
    overflow: hidden;
}

.mobile-description {
    display: none;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'PT Sans Narrow';
    font-weight: 100;
}


.showcase {
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 4;
    bottom: 30px;
    width: 100%;
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
}

.showcase.down {
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
}

.showcase .item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 200px;
    font-size: 8rem;
    opacity: 0;
    transform: translateY(-20%);
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    user-select: none;
}


.showcase .item .cover {
    position: absolute;
    width: inherit;
    height: inherit;
    transition: .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.showcase .item .cover:hover {
    filter: drop-shadow(5px 0px 0px #EA526F) drop-shadow(-5px 0px 0px #25CED1);
}

.showcase .item .cover-mobile,
.showcase .item .title {
    display: none;
}

.sidebar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    left: -1115px;
    bottom: 0px;
    z-index: 4;
    width: 200px;
    height: 400px;
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
}

.sidebar::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    width: 145px;
    height: 100%;
    border-top-right-radius: 50px;
    transform-origin: top;
    transform: translateX(100%) skewX(343deg);
    background-color: #ffffff; 
}

.sidebar.show {
    left: 0;
}

.sidebar .close {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sidebar .close .cover {
    width: 50px;
    height: 50px;
    transition: .2s cubic-bezier(0.4, 0, 0.2, 1);
}


.sidebar .project-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    height: 100%;
}

.sidebar .project-buttons .button  {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.sidebar .project-buttons .button:nth-child(1) {
    left: 60px;
}

.sidebar .project-buttons .button:nth-child(2) {
    left: 30px;
}

.sidebar .project-buttons .button .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar .project-buttons .button .cover:hover,
.sidebar .close .cover:hover {
    filter: drop-shadow(5px 0px 0px #EA526F) drop-shadow(-5px 0px 0px #25CED1);
}


.sidebar .project-buttons .button.active .cover {
    transform: scale(1.4);
    filter: drop-shadow(3px 0px 0px #EA526F) drop-shadow(-3px 0px 0px #25CED1);
}


.project-slider {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 400px;
    
    transform: translateY(-100%);
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    overflow: hidden;
}

.project-slider.up {
    transform: translateY(0);
    opacity: 1;
}

.project-list {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
}

.project-list .project {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
    background-size: cover !Отправлен новыйц догоant;
}

.project-list .project.game-wiki {
    background: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 80%)), url(assets/hm-cover.jpeg) no-repeat;
}

.project-list .project.developer-studio {
    background: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 80%)), url(assets/ds-cover.jpg) no-repeat;
}

.project-list .project.online-store {
    background: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 80%)), url(assets/os-cover.jpg) no-repeat;
}

.project-list .project .project--content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    margin-left: 400px;

}

.project .right-col {
    position: relative;
    height: 100%;
}

.project .right-col .tools-list {
    display: flex;
    font-size: 2rem;
}

.project .right-col .link-wrapper {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.project .right-col .link {
    display: block;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'PT Sans Narrow';
    text-decoration: none;
}

.project .right-col .link:hover {
    text-decoration: underline;
}

.project .title,
.project .suptitle {
    font-family: 'PT Sans Narrow';
}

.project .title { 
    margin-bottom: 20px;
    font-size: 3rem;
}

.project .suptitle {
    font-size: 2rem;
}

.arrows {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
}

.arrow-left,
.arrow-right {
    width: 50px;
    height: 50px;
}

.pop-up {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    transform: translateY(100%);
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
    /*background: rgb(0 0 0 / 44%);*/
}

.pop-up.show {
    transform: translateY(0);
}

.inner-content {
    display: none;
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #111;
    border-radius: 20px;
    box-shadow: 0px 5px 0px 4px #fff;
    font-family: 'PT Sans Narrow';
    overflow: hidden;
}

.inner-content .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.inner-content .title {
    font-size: 2rem;
    margin-bottom: 25px;
}

.inner-content .suptitle {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: justify;
}

.inner-content .link {
    display: block;
    margin-bottom: 30px;
    padding: 2px;
    font-size: 1.4rem;
    border-radius: 20px;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    color: #111;
}

@media (max-width: 1560px) {

    .showcase .item {
        width: 190px;
        height: 190px;
    }


    .project .title {
        margin-bottom: 10px;
        font-size: 2.5rem;
    }

    .project .suptitle {
        font-size: 1.75rem;
    }

    

    .project .right-col .tools-list .item {
        margin-right: 25px;
    }
}

@media (max-width: 1220px) {

    .header-block .title-section .title {
        font-size: 8rem;
    }

    .showcase .item {
        width: 170px;
        height: 170px;
    }

    .sidebar {
        width: 120px;
        height: 350px;
    }

    .sidebar .project-buttons .button {
        width: 75px;
        height: 75px;
    }

    .sidebar .close .cover {
        width: 40px;
        height: 40px;
    }

    .project-slider {
        height: 350px;
    }

    .project-list .project .project--content {
        margin-left: 300px;
    }
}

@media (max-width: 941px) {

    body {
		padding-top: 30px;
        overflow: auto;
    }

    .header-block {
        position: unset;
        width: unset;
        height: unset;
        margin-bottom: 60px;
		padding: 0 20px;
    }

    .header-block .title-section {
        position: unset;
        height: unset;
    }

    .header-block .title-section .title {
        font-size: 3rem;
    }

    .header-block .description {
        display: none;
    }    

    .mobile-description {
        display: block;
        padding: 0 40px;
        font-size: 2rem;
    }

    .showcase {
        position: unset;
        flex-direction: column;
        align-items: center;
		padding: 0 60px;
    }

    .showcase .item {
        flex-direction: column;
        max-width: 400px;
		width: 100%;
        height: 300px;
        margin-bottom: 50px;
        border-radius: 10px;
        background-color: transparent;
        overflow: hidden;
    }

    .showcase .item svg {
        display: none;
    }

    .showcase .item .cover-mobile {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #5e5e5e;
        box-shadow: inset 0px 0px 16px 0px black;
        background-size: cover;
        background-repeat: no-repeat;
		background-position: center;
    }

    .showcase .item .cover-mobile::before {
        content: "";
        position: absolute;
        top: -40px;
        left: -30px;
        width: 100%;
        height: 65px;
        transform: rotate(170deg);
        background-color: rgb(255 255 255 / 28%);
    }

    .showcase .item .cover-mobile::after {
        content: "";
        position: absolute;
        bottom: -40px;
        right: -30px;
        width: 100%;
        height: 65px;
        transform: rotate(170deg);
        background-color: rgb(255 255 255 / 28%);
        
    }

    #game_wiki .cover-mobile {
        background-image: url(assets/hm-cover.jpeg);
    }

    #developer_studio .cover-mobile {
        background-image: url(assets/ds-cover.jpg);
    }

    #online_store .cover-mobile {
        background-image: url(assets/os-cover.jpg);
    }

    .showcase .item .title {
        display: block;
		position: relative;
    	z-index: 1;
        width: 100%;
		padding: 10px 0;
        font-size: 1.7rem;
	    font-family: 'PT Sans Narrow';
        color: #111;
        background-color: #fff;
    }

    .sidebar,
    .project-slider {
        display: none;
    }
}

@media (max-width: 290px) {
	.header-block .title-section .title {
		overflow: scroll;
	}

	.showcase {
		overflow: scroll;
	}

	.showcase .item {
		min-width: 200px;
	}
}	
