.navbar {
	position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
	width: 100%;
	background-color: var(--main-background);
}

.navbar-content {
	position: relative;
	top: 0;
}

.burger-menu {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	width: 50px;
	height: 50px;
	background-color: #fff;
	cursor: pointer;
}

.burger-menu.active {
	background-color: var(--main-orange);
}

.burger-menu.active .burger-menu-item {
	background-color: #fff;
}

.burger-menu-inner {
	position: relative;
	width: 22px;
	height: 20px;
	margin: auto;
}

.burger-menu-item {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background-color: #333;
	transition: all .1s linear;
}

.burger-menu-item.top {
	top: 0;
}

.burger-menu-item.middle {
	top: 0;
	bottom: 0;
	margin: auto;
}

.burger-menu-item.bottom {
	bottom: 0;
}

.burger-menu.active .burger-menu-item {
	background-color: #fff;
}

.burger-menu.active .burger-menu-item.top {
	transform: translateY(10px) translateY(-50%) rotate(-45deg);
}

.burger-menu.active .burger-menu-item.middle {
	opacity: 0;
}

.burger-menu.active .burger-menu-item.bottom {
	transform: translateY(-10px) translateY(50%) rotate(45deg);
}

.navbar-menu {
	display: flex;
}

.navbar-menu-item {
	position: relative;
	flex: 1 1 auto;
	margin-left: -1px;
	white-space: nowrap;	
	cursor: pointer;
}

.navbar-menu-link {
	display: block;
	padding: 20px 30px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.navbar-menu .navbar-menu-item:first-child .active {
	color: #fff;
}

.navbar-menu-link.active {
	color: var(--main-orange);
}

.navbar-menu-item:hover .navbar-menu-link {
	color: var(--main-orange); 
}

@media (max-width: 768px) {

	.navbar {
		width: 100%;
		height: 0;
		left: 0;
		transform: translateX(0);
		background: #000;
	}

	.navbar.active {
		height: 100%;
	}

	.burger-menu {
		display: flex;
		align-items: center;
	    justify-content: center;
	    right: 35px;
	}

	.burger-menu.active + .navbar-menu {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}

	.navbar-menu-item:hover .navbar-menu-link {
		color: var(--main-orange); 
	}

	.navbar-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		flex-direction: column;
		width: 100%;
		padding-top: 60px;
		padding-bottom: 60px;
		transform: translateY(-10px);
		transition: transform .3s linear;
		visibility: hidden;
		opacity: 0;
	}

	.navbar-menu-link {
		font-size: 38px;
		font-weight: 100;
	}
}

@media (max-width: 576px) {

	.navbar-menu-item {
		padding: 2% 3%;
	}

	.navbar-menu-link {
		font-size: 26px;
	}
}