@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

::selection {
	background: var(--secondary-orange);
    color: #fff;
}


:root {
	--main-background: #000000;
	--main-orange: #ffb83c;
	--secondary-orange: #ffae22;
}

* {
	box-sizing: border-box;
}


body {
	margin: 0;
	font-family: "Playfair Display", serif;
  	font-weight: 400;
  	font-style: normal;
	background-color: var(--main-background);
  	color: #fff;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: #fff;
}

button {
	padding: 0;
	border-radius: 0;
	font-size: 20px;
    cursor: pointer;
}

.hide-overflow {
	overflow: hidden;
}

.container {
	position: relative;
	max-width: 1366px;
	margin: 0 auto;
	padding: 0 60px;
}

.container--inner {
	position: relative;
	max-width: 720px;
	margin: 0 auto;
}

.section-text {
	text-align: center;
}

.section-text--upper {
	font-size: 21px;
	font-weight: 700;
}

.section-text--lower {
	margin-bottom: 30px;
	font-size: 50px;
}

.section-text--description {
	margin-bottom: 70px;
	line-height: 1.6;
	font-size: 18px;
}

@media (max-width: 576px) {

	.container {
		padding:  0 20px;
	}

	.section-text--lower {
		font-size: 150%;
	}

}